footer {
  background-color: #272532 !important;
  padding-bottom: 19px !important;
  margin-top: 27px;
  background-image: url("/assets/img/footer-bg.jpg") !important;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
}
footer .container {
  padding-top: 10px !important;
}
footer address,
footer p {
  color: #aaa !important;
}
footer h2 {
  color: #ccc;
  font-size: 18px;
}
.viewers {
  color: #fde440 !important;
  font-weight: bold;
  font-size: 17px;
}
.copyright {
  color: #ccc;
}
.copyright {
  border-top: 3px solid #333 !important;
  font-size: 14px;
}
address {
  font-size: 14px;
}
