<footer>
  <div class="container">
   <!-- <div class="row justify-content-between">
      <div class="col-8">
        <br>
        <div class="viewers">No. of Viewers: <b>20204</b></div>
        <br>
        <p> Email: info@jaisriram.org <span class="footer-phone">Phone: (770) 744-5159</span></p>
      </div>

      <div class="col float-right">
        <h2>Contact Details</h2>
        <address>Bhadradri Sri Rama Temple of USA,<br>Mailing Address:<br> P.O. Box 112, 1410 Atlanta Hwy, Cumming GA
          30040
        </address>
      </div>
    </div>-->
    <div class="row justify-content-between copyright">
      <div class="col">© 2019 All rights reserved. Bhadradri Sri Rama Temple of USA</div>
      <div class="col-3">
        Powered by <a href="https://github.com/SriramaDanturthi">Sriram
          Danturthi</a>
      </div>
    </div>
  </div>
</footer>